html{
    /* la imagen a ser mostrada a pantalla completa */
    background:url('fondo4.jpg') no-repeat center center;

    /* nos aseguramos que el elemento ocupe toda la ventana del navegador */
    min-height:100%;

    /* Propiedad a utilizar para la imagen */
    background-size:cover;
}



header{
    width: 100%;
}

.navegacion{
    width: 1000px;
    margin: 30px auto;

}

.navegacion ul{
    list-style: none;
}

.menu > li{
    position: relative;
    display: inline-block;
}

.menu > li > a{
    display: block;
    padding: 15px 20px;
    color: #d3bdbd;
    font-family: 'Open sans';
    text-decoration: none;
}

.menu li a:hover{
    color: rgb(241, 237, 234);
    transition: all .3s;
}

.imgder{
    float:right; /*para ponerlo a la derecha */
    margin:20px; /* un margen cualquiera */
}

.imgizq{
    float:left; /*para ponerlo a la izquierda */
    margin:20px; /* un margen cualquiera */
}
.imgizq img, .imgder img{
    display: block;
    margin: 0 auto; /* centrar imagen */
}
.imgizq p, .imgder p{
    text-align:center; 
    font-weight:bold; 
    font-size: 8px; 
}

